version: '2'
services:
  db:
    image: postgres:9.6.3
    container_name: db
    environment:
      - PGDATA=/var/lib/postgresql/data
    expose:
      - "5432"
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    networks:
      - ILICEReverseProxy
  oscapi:
    image: teanocrata/oscapi:0.6.0
    environment:
      - DJANGO_SETTINGS_MODULE=osc.settings.cpd.app_settings
    command: bash -c "python manage.py collectstatic --noinput && gunicorn osc_site.wsgi -b 0.0.0.0:8000"
    volumes:
      - ./Django/secrets.ini:/usr/src/app/tmp/secrets.ini
    expose:
      - "8000"
    links:
      - db
      - elastic
    container_name: oscapi
    networks:
      - ILICEReverseProxy
  oscweb:
    image: teanocrata/oscweb:0.4.0
    volumes:
      - ./secrets.ini:/home/node/OSCWeb/settings/secrets.ini
    expose:
        - "8000"
    links:
      - oscapi
    networks:
      - ILICEReverseProxy
  elastic:
    image: teanocrata/oscelastic:0.1.0
    container_name: elastic
    environment:
      - cluster.name=osc-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms8g -Xmx8g"
      - path.repo=["/usr/share/elasticsearch/backups"]
      - xpack.security.enabled=false
      - xpack.monitoring.enabled=true
      - xpack.watcher.enabled=false
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    mem_limit: 16g
    cap_add:
      - IPC_LOCK
    volumes:
      - es-data:/usr/share/elasticsearch/data
      - es-backup-201707:/usr/share/elasticsearch/backups
    expose:
      - 9300
    networks:
      - ILICEReverseProxy
  kibana:
    image: docker.elastic.co/kibana/kibana:5.2.0
    container_name: kibana
    environment:
      - XPACK_SECURITY_ENABLED=false
    expose:
      - 5601
    links:
      - elastic:elasticsearch
    networks:
      - ILICEReverseProxy
  jupyter:
    image: jupyter/datascience-notebook
    command: start-notebook.sh
    links:
      - elastic
    volumes:
      - ./jupyter_notebook_config.py:/etc/jupyter/jupyter_notebook_config.py
      - ./jupyter_notebook_config.json:/etc/jupyter/jupyter_notebook_config.json
      - jupyter-work:/home/jovyan
    networks:
      - ILICEReverseProxy

volumes:
  postgres-db-volume:
    external: true
  es-data:
    external: true
  jupyter-work:
    external: true
  es-backup-201707:
    external: true

networks:
  ILICEReverseProxy:
    external: true
